In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
##How many products cost more than $10.00?

In [7]:
chipo['item_price1']=chipo['item_price'].apply(lambda x: float(x[1:-1]))

In [12]:
chipo[chipo['item_price1']>10].item_name.nunique()

31

In [ ]:
##What is the price of each item?

In [20]:
chipo_filtered=chipo.drop_duplicates(['item_name','choice_description','item_price'])

In [21]:
chipo_filtered=chipo_filtered[chipo_filtered.quantity==1][['item_name','choice_description','item_price']].sort_values('item_name')

In [22]:
chipo_filtered

,item_name,choice_description,item_price
357,6 Pack Soft Drink,[Coke],$6.49
341,6 Pack Soft Drink,[Diet Coke],$6.49
298,6 Pack Soft Drink,[Sprite],$6.49
721,6 Pack Soft Drink,[Nestea],$6.49
3141,6 Pack Soft Drink,[Lemonade],$6.49
...,...,...,...
2384,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
1395,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
2851,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

In [ ]:
# What was the quantity of the most expensive item ordered?

In [29]:
chipo.sort_values('item_price1', ascending=False)[['quantity','item_name']].head(1)

      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa

In [ ]:
#How many times was a Veggie Salad Bowl ordered?

In [40]:
chipo[chipo.item_name=='Veggie Salad Bowl'].shape[0]

18

In [41]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

In [42]:
len(chipo[chipo.item_name=='Veggie Salad Bowl'])

18

In [ ]:
##How many times did someone order more than one Canned Soda?

In [44]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price1
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [57]:
chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)].shape[0]

20