In [1]:
import pandas as pd
import numpy as np

# Reading a file

In [38]:
df=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# What is the number of observations in the dataset?

In [9]:
df.shape[0]

4622

# Print the name of all the columns.

In [11]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Which was the most-ordered item?

In [18]:
df.groupby("item_name").sum('quantity').sort_values('quantity', ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# What was the most ordered item in the choice_description column?

In [22]:
df.groupby("choice_description").sum().sort_values('quantity', ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

# How many items were orderd in total?

In [24]:
df.quantity.sum()

4972

In [ ]:
##Turn the item price into a float

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [30]:
df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

# Turn the item price into a float

In [32]:
df['item_price'].astype('float64')

ValueError: could not convert string to float: '$2.39 '

In [35]:
df['item_price']=df['item_price'].apply(lambda x: float(x[1:]))  #answer

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [51]:
df['item_price1']=df['item_price'].apply(lambda x: x[1:])

# df['item_price1'].astype('float64') #method2

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price1         4622 non-null   object
dtypes: int64(2), object(4)
memory usage: 216.8+ KB